{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Twitter Handle</title>
</head>
<body>
<h1>Enter Twitter Handle</h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Search</button>
</form>
{% if error %}
    <div>
        <span style="color: red">
            <small>{{ error }}</small>
        </span>
    </div>
{% endif %}
<br>
<div>
    <table>
        <tr>
        <td>
            Results for {{ twitter_handle }}:
        </td>
            <td>
                {% if json_file_rel_address %}
                    <a href="{% static json_file_rel_address %}" download="{{ twitter_handle }}.json">
                        <button>json file</button>
                    </a>
                {% endif %}
            </td>
            <td>
                {% if csv_file_rel_address %}
                    <a href="{% static csv_file_rel_address %}" download="{{ twitter_handle }}.csv">
                        <button>csv file</button>
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
</body>
</html>