{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Twitter Handle</title>
</head>
<body>
<a href="{% static 'temp' %}">download file</a>
<a href="{% static '4ayKrvfS1pLnMdn5JyXimF2GkR4WPrxm/dogecoin.json' %}">dl file</a>
<h1>Enter Twitter Handle</h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Search</button>
</form>
{% if error %}
    <div>
        <span style="color: red">
            <small>{{ error }}</small>
        </span>
    </div>
{% endif %}
</body>
</html>