{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Twitter Handle</title>
</head>
<body>
<h1>Enter Twitter Handle</h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Search</button>
</form>
{% if error %}
    <div>
        <span style="color: red">
            <small>{{ error }}</small>
        </span>
    </div>
{% endif %}
<br>
{% if json_file_rel_address and csv_file_rel_address %}
    <div>
        <table>
            <tr>
                <td>
                    Results for {{ twitter_handle }}:
                </td>
                <td>
                    <a href="{% static json_file_rel_address %}" download="{{ twitter_handle }}.json">
                        <button>json file</button>
                    </a>
                </td>
                <td>
                    <a href="{% static csv_file_rel_address %}" download="{{ twitter_handle }}.csv">
                        <button>csv file</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{% endif %}
</body>
</html>